<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="top-bar">
        <div class="navbar_name">
            <a href="/">S.J.D.J</a>
        </div>

        <ul class="navbar_list">
            <li><a href="/about">실증단지 소개</a></li>
            <li><a href="/datas">실시간 데이터</a></li>
            <li><a href="/participate">스마트팜 설계</a></li>
            <li><a href="/sns">의견 게시판</a></li>
            <li><a href="/aichat">AI 챗봇</a></li>
        </ul>

        <ul class="user-info">
            {% if user %}
                {{ user.username }} ({{ user.role }}) 님 로그인됨 |
                <a href="/logout">로그아웃</a>
            {% else %}
                <a href="/login">로그인</a> /
                <a href="/register">회원가입</a>
            {% endif %}
        </ul>
    </nav>

</body>
</html>